/* Google Fonts: Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Apply Poppins font to body */
body {
    font-family: 'Poppins', sans-serif;
}

/* Ensure slick-carousel fonts are loaded */
@font-face {
    font-family: 'slick';
    src: url('~slick-carousel/slick/fonts/slick.ttf') format('truetype'),
         url('~slick-carousel/slick/fonts/slick.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Animation for the right section pop-in effect */
@keyframes popIn {
    0% {
      opacity: 0;
      transform: scale(0.8); /* Start smaller */
    }
    50% {
      opacity: 0.5; /* Midway point */
      transform: scale(1.1); /* Slightly bigger */
    }
    100% {
      opacity: 1;
      transform: scale(1); /* End at normal size */
    }
  }
  
  .animate__popIn {
    animation: popIn 1s ease-out forwards;
  }
  

/* Applying the popIn animation to the right section of About page */
.animate-pop-in {
  animation: popIn 1s ease-out forwards;
}
